{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">


<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">Explore</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">New Recipe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">something4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">something5</a>
    </li>
  </ul>

<html lang="en">
<head>
  {% block title %}<title>Recipe Project</title>{% endblock %}
</head>
<body>
  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>

<footer class="pt-5 my-5 text-muted border-top">
    group a07 :) <br>
    privacy policy (uh) <br>
    Copyright 2022? heh
</footer>
</html>

