{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">something</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">something2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">something3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">something4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">something5</a>
    </li>
  </ul>