{% extends 'main/base.html' %}

{% load static %}

{% load bootstrap5 %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome to Word of Mouth</h5>
                    <p>To get started, click the "New Recipe" button.</p>
                </div>

            </div>
        </div><!-- End Reports -->
    </div>
{% endblock %}

