{% load account %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Google Registration</title>
</head>
<body>
{% load socialaccount %}
<h1>My Google Login Project</h1>
<a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>

{% if user.is_authenticated %}
    <p>
        {% user_display user as user_display %}
        {% blocktrans %}{{ user_display }} has logged in...{% endblocktrans %}
    </p>
{% else %}
    <p>User is not logged in</p>

{% endif %}


</body>
</html>