{% extends "main/base.html" %}
{% block title %}{{ recipe.title_text }}{% endblock %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            {% load filterFavorite %}
            {% load static %}
            <link rel="stylesheet" href="{% static 'assets/css/favorite.css' %}">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        {% include "main/card_header.html" with recipe=recipe %}
                    </div>
                    {% if recipe.picture %}
                        <img src="{{ recipe.picture.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <img src="{{ recipe.owner.socialaccount_set.all.0.get_avatar_url }}" alt="Profile"
                         class="col-2 card-img-overlay rounded-circle bg-transparent img-responsive">
                    <div class="card-title">{{ recipe.title_text }}
                        {% if recipe.parent %}
                            <span>Forked from {{ recipe.parent.title_text }}</span>
                        {% endif %}
                        {% if recipe.children.count > 0 %}
                            <span>Has {{ recipe.children.count }} child(ren).</span>
                        {% endif %}
                    </div>
                    <p>{{ recipe.ingredients_list|linebreaks }}</p>
                    <div class="card-footer">
                        {{ recipe.body_text|linebreaks }}
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}